* {
    border: 1px solid red;
}

/*make the map to fill the page*/
html, body, .container, .row, .map-container, #map {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.favorite {
    color: red;
}


.search {
    width: 100%;
}

.locationList li {
    list-style-type: none;
}
/*.remove {
    float: right;
}
*/
